BAKBAK.root
BINTEMP.root
BSTARTEMPTEST.py
CMS_lumi.pyc
CUTMTHETA.py
TEMP.py
THBAK4Banalyzer.py
THBanalyzer_output__PSET_default.root
THBcorr_QCDBfail__PSET_default.root
THBcorr_QCD__PSET_default.root
THBgenpart.py
THBkback.py
THBrate_Maker_PTRWoff_data_PSET_default.root
THBrate_Maker_QCD_PSET_default.root
THBrate_Maker_THBWp4000Tp3000_PSET_default.root
THBrate_Maker_data_PSET_default.root
THBrate_tester.py
THBratefast.py
THBratettbar_mtt1000_PSET_defaultweighted.root
THBratettbar_mtt700_PSET_defaultweighted.root
THBtagratetests.py
THBttreeTHBWp2000Tp1300.root
THBttreeTHBWp4000Tp3000.root
TTrees/*
ThetafileBfail_PTRWoff__PSET_default.root
ThetafileBfail__PSET_default.root
ThetafileBfailnottsub__PSET_default.root
Thetafile_PTRWoff__PSET_default.root
Thetafile__PSET_default.root
Thetafilenottsub__PSET_default.root
Triggerweight_singlemu_BACKUP.root
WprimetoVlq_Functions.pyc
backup_THBanalyzer.py
commands.cmd
crab3_Wprime_M3800_RH.py
cslimBAYESexpTEST.txt
cslim_ub_BAYESexpTEST.txt
cslim_ub_BAYESobsTEST.txt
grid_tHbanattbarptrw_post.py
lazyplotter.py
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p01p0_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p10p9_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p20p8_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p30p7_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p40p6_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p60p4_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p70p3_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p80p2_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter0p90p1_logcenter.root
limits_outputlim_theta_unblind_AllHadronicTEST_h1t1b1defaultcenter1p00p0_logcenter.root
limits_outputlim_theta_unblind_AllHadronic_logcenter.root
limits_outputlim_theta_unblind_AllHadronic_loghigh.root
limits_outputlim_theta_unblind_AllHadronic_loglow.root
logs/*
makeopttemplates.py
notneeded/*
output_JID_86633_0.log
output_JID_86633_1.log
pdfw.csv
plots/*
rootfiles/*
tarball.tgz
temp.listOfJobs
temp/*
temp1.listOfJobs
temprootfiles/*
testexpTEST_h1t1b1defaultsigscale_1pbcenter.txt
testexpTEST_h1t1b1defaultsigscale_1pbhigh.txt
testexpTEST_h1t1b1defaultsigscale_1pblow.txt
testington.py
tmp.root
triggerstudies/*
unblinded_expTEST_h1t1b1defaultcenter.txt
unblinded_expTEST_h1t1b1defaultcenter0p01p0.txt
unblinded_expTEST_h1t1b1defaultcenter0p10p9.txt
unblinded_expTEST_h1t1b1defaultcenter0p20p8.txt
unblinded_expTEST_h1t1b1defaultcenter0p30p7.txt
unblinded_expTEST_h1t1b1defaultcenter0p40p6.txt
unblinded_expTEST_h1t1b1defaultcenter0p60p4.txt
unblinded_expTEST_h1t1b1defaultcenter0p70p3.txt
unblinded_expTEST_h1t1b1defaultcenter0p80p2.txt
unblinded_expTEST_h1t1b1defaultcenter0p90p1.txt
unblinded_expTEST_h1t1b1defaultcenter1p00p0.txt
unblinded_expTEST_h1t1b1defaulthigh.txt
unblinded_obsTEST_h1t1b1defaultcenter.txt
unblinded_obsTEST_h1t1b1defaultcenter0p01p0.txt
unblinded_obsTEST_h1t1b1defaultcenter0p10p9.txt
unblinded_obsTEST_h1t1b1defaultcenter0p20p8.txt
unblinded_obsTEST_h1t1b1defaultcenter0p30p7.txt
unblinded_obsTEST_h1t1b1defaultcenter0p40p6.txt
unblinded_obsTEST_h1t1b1defaultcenter0p60p4.txt
unblinded_obsTEST_h1t1b1defaultcenter0p70p3.txt
unblinded_obsTEST_h1t1b1defaultcenter0p80p2.txt
unblinded_obsTEST_h1t1b1defaultcenter0p90p1.txt
unblinded_obsTEST_h1t1b1defaultcenter1p00p0.txt
unblinded_obsTEST_h1t1b1defaulthigh.txt
xseclim_ub_BAYESexpTEST.txt
xseclim_ub_BAYESobsTEST.txt
